div(style="max-width: 600px; margin: 0 auto; padding: 24px 36px; background-color: #fff; border: 1px dotted #d0d0d0;" slot="render-container")
  div#rendered
    table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;" slot="render")
      tbody
        tr
          td(style="width:600px;")
            a(:href="link" target="_blank")
              img(:src="imageUrl" style="border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;" width="600" height="auto" pardot-region)
